.card .rounded-start {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 225px; /* 设置最大高度 */
}

.my-markdowm-img {
    /* 基本响应式设置 */
    max-width: 100%;
    height: auto;

    display: block;
    margin: 1rem auto 1.5rem;

    /*!* 图片美化 *!*/
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* 尺寸控制 */
    max-height: 500px;
}