---
layout: default
---
<!-- Global Floating Background Blobs -->
<div class="global-blob global-blob-1"></div>
<div class="global-blob global-blob-2"></div>
<div class="global-blob global-blob-3"></div>
<div class="global-blob global-blob-4"></div>
<div class="global-blob global-blob-5"></div>
<div class="global-blob global-blob-6"></div>
<div class="global-blob global-blob-7"></div>
<div class="global-blob global-blob-8"></div>

{% include header.html %}
{{ content }}
{% include footer.html %}
